body {
    font-size: 16px;
    line-height: 1.3em;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 10px;
}

html {
    background-color: #dcf0e9;
    scroll-behavior: smooth;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}
h1 {
    font-size: 28px;
}

h4 {
    margin-bottom: 0;
}

span {
    font-weight: 700;
}

.avatar {
    width: 260px;
    margin-right: 30px;
    margin-top: 25px;
    border-radius: 20px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.header {
    display: flex;
    justify-content: center;
    position: relative;
}

.rs-logo {
    width: 200px;
}
.github-logo {
    width: 200px;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}

.layout-2-column {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* gap: 30px; */
}

.footer-year {
    text-align: center;
}

.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projects-item {
    width: 200px;
}

.projects-item > p {
    width: 200px;
}

.project-item__image {
    height: 200px;
    width: 200px;
    object-fit: fill;
    border-radius: 10px;
}

figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

.social-media-flex {
    display: flex;
}
.social-media-flex-justify-content {
    justify-content: center;
}
.social-media-flex-align-items {
    align-items: center;
}

.social-media-grid {
    display: grid;
}
.social-media-grid-gap {
    grid-gap: 0.5em;
}

.main-container-social {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.container-social {
    grid-template-rows: repeat(2, 1.5em);
    border-radius: 0.25em;
    padding: 0.5em;
    background-color: #262626;
    box-shadow: 0 0 0.25em #262626;
}

.social-links {
    grid-template-columns: repeat(3, 2em);
    grid-gap: 0.5em;
    z-index: 100;
}

.social-link {
    font-size: 1.5rem;
    color: #bfbfbf;
    transition: 0.3s all ease;
    transition-timing-function: cubic-bezier(0, -0.5, 0, 0.5);
}
.social-link:hover {
    color: #f2f2f2;
    transform: translateY(-0.1em);
    transition-timing-function: cubic-bezier(0.5, -1.5, 0.5, 1.5);
}

.made {
    display: block;
    color: #f2f2f2;
    font-size: 0.75rem;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.container__progressbars {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* min-width: 270px; */
    /* width: 100%;
    min-height: 100%; */
    max-width: 300px;
}

.progressbar {
    position: relative;
    width: 100px;
    height: 100px;
    /* margin: 1em; */
    transform: rotate(-90deg);
}

.progressbar__svg {
    position: relative;
    width: 100%;
    height: 100%;
}

.progressbar__svg-circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 5;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke: rgba(3, 3, 3, 0.521);
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

.shadow-html {
    filter: drop-shadow(0 0 5px #ff6633);
}
.shadow-css {
    filter: drop-shadow(0 0 5px #33bbff);
}
.shadow-scss {
    filter: drop-shadow(0 0 5px #ff33ff);
}
.shadow-js {
    filter: drop-shadow(0 0 5px #ffff33);
}
.shadow-ts {
    filter: drop-shadow(0 0 5px #3377ff);
}
.shadow-react {
    filter: drop-shadow(0 0 5px #33ffff);
}

.circle-html {
    -webkit-animation: anim_circle-html 1s ease-in-out forwards;
    animation: anim_circle-html 1s ease-in-out forwards;
}
.circle-css {
    -webkit-animation: anim_circle-css 1s ease-in-out forwards;
    animation: anim_circle-css 1s ease-in-out forwards;
}
.circle-scss {
    -webkit-animation: anim_circle-scss 1s ease-in-out forwards;
    animation: anim_circle-scss 1s ease-in-out forwards;
}
.circle-js {
    -webkit-animation: anim_circle-js 1s ease-in-out forwards;
    animation: anim_circle-js 1s ease-in-out forwards;
}
.circle-ts {
    -webkit-animation: anim_circle-ts 1s ease-in-out forwards;
    animation: anim_circle-ts 1s ease-in-out forwards;
}

.circle-react {
    -webkit-animation: anim_circle-react 1s ease-in-out forwards;
    animation: anim_circle-react 1s ease-in-out forwards;
}

.progressbar__text {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0.25em 0.5em;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.25em;
    transform: translate(-50%, -50%) rotate(90deg);
}

@-webkit-keyframes anim_circle-html {
    to {
        stroke-dashoffset: 40;
    }
}

@keyframes anim_circle-html {
    to {
        stroke-dashoffset: 260;
    }
}
@-webkit-keyframes anim_circle-css {
    to {
        stroke-dashoffset: 66;
    }
}
@keyframes anim_circle-css {
    to {
        stroke-dashoffset: 220;
    }
}
@-webkit-keyframes anim_circle-scss {
    to {
        stroke-dashoffset: 66;
    }
}
@keyframes anim_circle-scss {
    to {
        stroke-dashoffset: 280;
    }
}
@-webkit-keyframes anim_circle-js {
    to {
        stroke-dashoffset: 88;
    }
}
@keyframes anim_circle-js {
    to {
        stroke-dashoffset: 290;
    }
}
@-webkit-keyframes anim_circle-ts {
    to {
        stroke-dashoffset: 290;
    }
}
@keyframes anim_circle-ts {
    to {
        stroke-dashoffset: 198;
    }
}

@-webkit-keyframes anim_circle-react {
    to {
        stroke-dashoffset: 387.2;
    }
}
@keyframes anim_circle-react {
    to {
        stroke-dashoffset: 387.2;
    }
}

.header-menu-list__item {
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #bfbfbf;
}

.header-menu-list__item:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #cefc04;
}

.header-menu-list__item.header-menu-list__item-selected {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #cefc04;
}

.backdrop {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    z-index: 3;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

#burger {
    opacity: 0;
}

#burger-label {
    display: block;
}

.burger + label {
    position: absolute;
    top: 47px;
    left: 20px;
    height: 22px;
    width: 30px;
    z-index: 5;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.burger + label span {
    position: absolute;
    width: 30px;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: rgb(7, 124, 107);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.burger + label span:first-child {
    top: 1px;
}

.burger + label span:last-child {
    top: 21px;
}

label:hover {
    cursor: pointer;
}

.burger:checked + label span {
    opacity: 0;
    top: 50%;
}

.burger:checked + label span:first-child {
    opacity: 1;
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
}

.burger:checked + label span:last-child {
    opacity: 1;
    -webkit-transform: rotate(-405deg);
    transform: rotate(-405deg);
}

.burger ~ nav {
    position: fixed;
    top: -20px;
    width: 0px;
    height: calc(100vh + 20px);
    z-index: -1;
    left: -320px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.4);
}

.burger ~ nav > ul {
    height: 100%;
    padding-top: 40px;
}

.burger ~ nav > ul > li {
    opacity: 0;
    min-width: 242px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 31px;
    color: white;
    font-size: 24px;
}

.burger:checked ~ .backdrop {
    left: 0%;
    opacity: 1;
}

.burger:checked ~ nav {
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
    width: 320px;
    z-index: 3;
    left: 0px;
}

.burger:checked ~ nav > ul > li {
    opacity: 1;
    display: block;
}
